#treemap {
    overflow: hidden;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    color: #696969;
    font-size: 10px;
}

.navigation h1 {
    text-align: center;
    vertical-align: center;
    font-weight: bold;
}

.navigation h2 {
    text-align: center;
    vertical-align: center;
    font-weight: normal;
    font-size: 14px;
}

.bubbles {
  stroke-width: 2px;
  stroke: white;
}
.bubbles:hover {
  stroke: black;
}

/*.body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.node {
    border: solid 1px white;
    font: 0.625em sans-serif;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
    cursor: default;
}

.a {
    color: dimgray;
}

.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}*/